.rss-item {
    margin-bottom: 20px;
}

#rss-feed {
    max-width: 100%;
    margin-top: 30px;
}

.rss-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    white-space: pre-wrap;
    word-break: break-word;
}

.highlight{overflow-x: auto;}

.rss-item img{
    max-width: 100%; max-height: 100%; object-fit: contain;
}

.rss-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.rss-description {
    margin-top: 10px;
    font-size: 14px;
}

.rss-link {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

.rss-item-info {
    margin-top: 10px;
    font-size: 12px;
    color: #bbb;
}

::-webkit-scrollbar { width: 10px; height: 10px; } ::-webkit-scrollbar-track { width: 6px; background: rgba(#101F1C, 0.1); -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; } ::-webkit-scrollbar-thumb { background-color: rgba(144,147,153,.5); background-clip: padding-box; min-height: 28px; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; transition: background-color.3s; cursor: pointer; } ::-webkit-scrollbar-thumb:hover { background-color: rgba(144,147,153,.3); }
.mdui-row{max-width: 100%;}.mdui-col-xs-12{max-width: 100%;}